.todoListMain .header {
  margin-top: 2em;
  margin-bottom: 2em;
}

.todoListMain .theList {
  margin: 1em 20em;
}

.todoListMain .theList .box:hover {
  background-color: pink;
  cursor: pointer;
}

.todoListMain .header input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #FFF;
    width: 165px;
  }